# packaging
python==3.8.12
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
seaborn

# tests/linter
black
coverage
flake8
pytest
yapf

# utilities
six>=1.14
joblib
memoized-property
termcolor

# urllib.request
plotly
streamlit

# logging
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
libclang==13.0.0
llvmlite==0.38.0
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
nbclassic==0.3.5
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numba==0.55.1
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
testpath==0.6.0
toml==0.10.2
tomli==2.0.1
